/*General Formatting*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.rootnav{
    display: inline-flex;
    list-style: none;
    background-color: #005a9b;
    padding: 25px;
    padding-right: 100%;
    font-size: x-large;
}
.rootnav a{
    text-decoration: none;
    margin-left: 20px;
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: #6c757d
}
a:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}
p{
    margin-left: 40px;
}
.msgbtn{
    height: fit-content;
}


/*Safety Tab*/
.safetylink{
    margin-left: 40px;
}
.scissorliftvideo{
    height: auto;
    width: 565px;
    margin-left: 40px;
    padding: 0px;
    margin-top: 0px;
}


/*Generic Format link for straggling a href*/
.formatlink{
    margin-left: 40px;
    padding-top: 10px;
}


/*Amatrol Tab*/
.amatrolt tr, th, td{
    text-align: left;
    text-indent: 40px;
}
.amatrolt th{
    font-size: large;
    color: #005a9b;
}
.amatrolt img{
    height: 20px;
}
.centercontent{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}
.msgarea{
    display: inline-flex;
    height: fit-content;
}


/*Onboarding Tab*/
.onboardingt tr, th, td{
    text-align: left;
    text-indent: 40px;
}
.onboardingt th{
    font-size: large;
    color: #005a9b;
}
.wifiimg{
    float: right;
    margin-right: 20px;
}


/*Time Report Tab*/
#myDIV {
    width: auto;
    height: auto;
    background-color: white;
    color: black;
  }
  .courselistbtn{
      margin-left: 40px;
      margin-bottom: 10px;
  }
.timereportf{
    margin-left: 40px;
}
.timereportf div{
    margin-bottom: 6px;
}
fieldset{
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 .625em;
}

label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}

input{
    font-size: inherit;
}

/* Technical Tab */
.lessonDirectoryLinks{
    display: grid;
    place-items: center;
}