/* General Formatting */
body{
    padding: 0;
    margin: 0;
    font-family: roboto,roboto,Sans-serif;
    font-size: large;
    color: rgb(53, 53, 53);
}

/* Lesson Navigation */
.lessonNav{
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-family:  roboto,roboto,Sans-serif;
}
.lessonNav-LeftBtn{
    float: left;
    width: 78px;
    background-color: lightgray;
    color: black;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-left: 15%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.lessonNav-RightBtn{
    float: right;
    width: fit-content;
    background-color: rgb(6, 119, 6);
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-right: 15%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
a:hover.lessonNav-LeftBtn {
    background-color: gray;
    color: white;
}
a:hover.lessonNav-RightBtn {
    background-color: rgb(6, 88, 6);
    color: white;
}

/* Lesson Text and Images */
.lessonStructure{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}
h1, h2{
    font-family: roboto,roboto,Sans-serif;
}
.lessonStructure h1, h2{
    text-align: center;
}
img{
    display: block;
    padding: 15px;
    margin: auto;
    max-width: 67%;
}
p{
    font-family: roboto,roboto,Sans-serif;
    font-size: large;
    color: rgb(53, 53, 53);
}
p a{
    color: rgba(102, 102, 255, 0.884);
    text-decoration: none;
}
.multiplePictures-singleLine{
    display: inline-flex;
    max-width: 70%;
    margin: auto;
}
/* Hover Image Tool Tip */
/* .hover_img a { position:relative; display: inline-block; } */
.hover_img a { position:relative; display: inline-block; }
/* .hover_img a span { position:absolute; display:none; z-index:99; } */
.hover_img a span { position: absolute; display:none; z-index:99; }
.hover_img a:hover span {
    display: block;
    width: max-content;
}
/* Multiple Video Buttons Single Row */
.multipleVideoBtns{
    display: grid;
    place-content: center;
}